/* Main game CSS */
.Game {
    text-align: center;
    user-select: none;
    font-family: monospace;
}

.game-title-tile {
    color: black;
    font-family: 'Fredoka One', sans-serif;
    font-size: 48px;

    /* Tile borders */
    width: 60px;
    height: 55px;
    margin: 2px;
    border-radius: 5px;
    background: linear-gradient(to bottom, rgb(240, 255, 172) 50%, rgb(80, 250, 95) 120px);
    box-shadow: 0 5px #bcc56b;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.1s ease 0s;
}

.game-title-tile span {
    /* Compresses letters vertically */
    transform: scale(1,  calc(110 / 120));
}


.BogoGram {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.game-title {
    color: white;
    font-family: 'Fredoka One', sans-serif;
    font-size: 36px;
}


/* CSS for buttons in general */
.gameButton {
    background-color: rgb(240, 255, 172);
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: 'Fredoka One', sans-serif;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 7px #bcc56b;
    cursor: pointer;
    transition: all 0.1s ease 0s;

    width: 200px;
}

.gameButton:hover {
    background-color: #47ff56; /* A lighter green on hover */
    box-shadow: 0 7px #22c24a; /* Deeper shadow for 3D effect on hover */
    transform: translateY(0px); /* Slight raise effect on hover */
}

.gameButton:active {
    background-color: #47ff56;
    box-shadow: 0 0px #22c24a;
    transform: translateY(7px);
}

.gameButton:focus {
    background-color: rgb(240, 255, 172);
}

.gameButton:disabled {
    background-color: rgb(173, 173, 173);
    box-shadow: 0 0px #505050;
    transform: translateY(7px);
    color: rgb(225, 225, 225);
    cursor: default;
}

.game-name-display {
    user-select: text;
    color: #fff;
    background-color: #19211d91;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 16px;
}

/* CSS ror the Beast Mode button */
.beastModeToggle {
    background: linear-gradient(to bottom, rgb(240, 255, 172) 50%, rgb(80, 250, 95) 120px);
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: 'Fredoka One', sans-serif;
    font-size: 48px;
    border: none;
    border-radius: 5px;
    width: 60px;
    height: 55px;
    box-shadow: 0 5px #bcc56b;

    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    transition: all 0.1s ease 0s;
}

.beastModeToggle .beastModeLetter {
    font-weight: bold;
    transform: scale(1,  calc(110 / 120));
}

.beastModeToggle:active {
    box-shadow: 0 0px #22c24a; /* Deeper shadow for 3D effect on hover */
    transition: all 0.3s ease 0s;
    transform: translateY(5px); /* Pushed effect when clicked */
}

.beastModeToggle:focus {
    background: linear-gradient(to bottom, rgb(240, 255, 172) 50%, rgb(80, 250, 95) 120px);
}

.beastModeToggle:disabled {
    background: linear-gradient(to bottom, rgb(240, 255, 172) 50%, rgb(80, 250, 95) 120px);
    box-shadow: 0 5px #bcc56b;
    color: black;
    cursor: default;
}

.beastModeToggle:active:disabled {
    transform: none;
}

/* For anything with the beastMode class after beastMode boolean is set to true */
.beastMode, .beastMode:disabled {
    background: rgb(180, 0, 0);
    box-shadow: 0 5px rgb(140, 0, 0);;
    color: rgb(225, 225, 225);
}

.beastMode:hover, .beastMode:active, .beastMode:focus {
    background: rgb(180, 0, 0);
}

/* Separate CSS for game buttons affected by beastMode */
.beastModeGameButton {
    background-color: rgb(192, 0, 0);
    color: rgb(225, 225, 225);
    font-weight: bold;
    font-family: 'Fredoka One', sans-serif;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    width: 200px;
    box-shadow: 0 7px rgb(140, 0, 0);
    cursor: pointer;
    transition: all 0.3s ease 0s;

    width: auto;
    min-width: 200px;
}

.beastModeGameButton:hover {
    background-color: rgb(140, 0, 0);
    box-shadow: 0 7px rgb(110, 0, 0);
    transform: translateY(0px);
}

.beastModeGameButton:active {
    background-color: rgb(140, 0, 0);
    box-shadow: 0 2px rgb(110, 0, 0);
    transform: translateY(7px);
}

.beastModeGameButton:focus {
    background-color: rgb(140, 0, 0);
}

.beastModeGameButton:disabled {
    background-color: rgb(173, 173, 173);
    box-shadow: 0 0px #505050;
    transform: translateY(7px);
}

/* Edited grid CSS */
.grid {
    display: inline-block;
    margin: 10px;
    border: 1px solid rgb(255, 255, 255);
}

.row {
    display: flex;
}

/* Board tiles CSS */
.cell {
    width: 42px; /* Adjusted to fit a larger grid on the screen */
    height: 42px; /* Adjusted to fit a larger grid on the screen */
    border: 1px solid rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255); /* Ensure letters are black on white background */

    padding-bottom: 3px;
    box-sizing: border-box;

    /* Disable highlighting letter */
    user-select: none;
    cursor: default;
}

.cell:active {
    opacity: 0.7;
}

.board-tile {
    color: black;
    font-family: 'Fredoka One', sans-serif;
    font-size: 18px;

    width: 36px;
    height: 33px;
    margin-top: -5px;
    margin: 5px;
    border-radius: 3px;
    background: linear-gradient(to bottom, rgb(240, 255, 172) 50%, rgb(80, 250, 95) 120px);
    box-shadow: 0 3px #bcc56b;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    cursor: grab;

    line-height: 1;
}

input, select, button {
    margin: 5px;
}

.player-letters {
    color: white;
    margin-bottom: 5px;
}

/* CSS for player tile-rack has to change at some point */
.player-tilerack {
    border: 2px solid rgb(255, 255, 255);
    min-height: 42px;
    max-height: fit-content;
    min-width: 300px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(0, 0, 0);
}


/* Please figure tile id/class out */

/* Player tiles CSS */
.player-tilerack .player-letter {
    color: black;
    font-family: 'Fredoka One', sans-serif;
    font-size: 18px;

    width: 36px;
    height: 33px;
    margin: 5px;
    border-radius: 3px;
    background: linear-gradient(to bottom, rgb(240, 255, 172) 50%, rgb(80, 250, 95) 120px);
    box-shadow: 0 3px #bcc56b;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    cursor: grab;
}

.player-tilerack .player-letter:active {
    opacity: 0.7;
}

/* Letters to dump */
.dump-rack {
    border: 2px solid rgb(255, 255, 255);
    height: 42px;
    width: 42px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(0, 0, 0);
}

.dump-rack .dump-letter {
    color: black;
    font-family: 'Fredoka One', sans-serif;
    font-size: 18px;

    width: 36px;
    height: 33px;
    margin: 5px;
    border-radius: 3px;
    background: linear-gradient(to bottom, rgb(240, 255, 172) 50%, rgb(80, 250, 95) 120px);
    box-shadow: 0 3px #bcc56b;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    cursor: grab;
}

.dump-rack .dump-cooldown {
    background: rgb(173, 173, 173);
    box-shadow: 0 0px #505050;
    transition: all 0.3s ease 0s;
    transform: translateY(3px)
}

input[type="text"], select {
    width: calc(13%); /* Slightly less than full width to accommodate padding */
    padding: 12px 20px; /* Good padding for ease of interaction */
    margin: 20px 10px; /* Margin for spacing between elements */
    display: inline-block; /* Ensures proper alignment */
    border: 2px solid #ccc; /* Subtle border for aesthetics */
    border-radius: 5px; /* Rounded corners for a modern look */
    box-sizing: border-box; /* Adjusts box sizing to include padding and border */
    background-color: #f8f8f8; /* Light background for visibility */
    color: #333; /* Dark text for readability */
}

input[type="text"]:focus, select:focus {
    border-color: #0056b3; /* Blue border on focus to match the theme */
    background-color: #e8f0fe; /* Very light blue background on focus for visual feedback */
}

input[type="text"]:disabled, select:disabled {
    background-color: #e7e7e7; /* Grey background for disabled input to indicate non-interactivity */
    color: #d4d4d4; /* Grey text for disabled input to maintain clarity */
}

.check-words-display {
    margin-top: 20px;
    font-size: 16px;
    color: #4CAF50;
}

/* Singleplayer timer CSS */
.timer-container {
    padding: 10px;
    background-color: #000000;
    border: 2px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    margin: 10px;
    font-size: 20px;
    color: #ffffff;
    font-family: monospace;
    position: fixed;
    top: 15px;
    right: 17px;
}

.timer-heading {
    color: rgb(209, 209, 209); /* Slightly darker grey text for the heading */
    margin-bottom: 5px; /* Spacing between heading and timer */
}

.timer-value {
    font-weight: bold; /* Makes the timer's number bold */
    color: rgb(61, 63, 49);
}

.timer-unit {
    background: linear-gradient(to bottom, rgb(0, 179, 104) 50%, rgb(0, 139, 91) 120px);
    box-shadow: 0 3px #006d47;
    color: white;
    font-weight: bold;
}

.timer-tile {
    cursor: auto;
}

.player-count-display {
    padding: 10px;
    background-color: #000000;
    border: 2px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    margin: 10px;
    font-size: 20px;
    color: #ffffff;
    font-family: monospace;
    position: fixed;
    top: 15px;
    left: 17px;
}
  