.TicTacToe {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    flex-direction: column;
    text-align: center; 
    background-color: rgb(9, 0, 22);
    user-select: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: monospace;
}

.title {
    font-size: 50px;
    margin-bottom: 1rem;
    color: white;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 1rem;
    border: 3px solid white;
}

.row1, .row2, .row3 {
    display: contents; /* This allows the children to use grid properties directly */
}

.boxes {
    width: 200px;
    height: 200px;
    background-color: rgb(9, 0, 32);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 3px solid white;
}

.tictactoe-tile {
    color: black;
    font-family: 'Fredoka One', sans-serif;
    font-size: 48px;
    font-weight: bold;

    /* Tile borders */
    width: 120px;
    height: 110px;
    margin: 2px;
    border-radius: 5px;
    background-color: rgb(0, 131, 129);
    box-shadow: 0 5px rgb(0, 83, 81);

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.1s ease 0s;
}

.TicTacToe .confirmation {
    font-size: 20px;
    transform: none;
}

.TicTacToe .confirmation:active {
    background-color: rgb(0, 131, 129);
    box-shadow: 0 0px rgb(0, 83, 81);
    transform: translateY(5px);
    color: white
}

.selected {
    background-color: rgb(0, 131, 129);
    box-shadow: 0 0px rgb(0, 83, 81);
    transform: translateY(5px);
    color: white
}

.TicTacToe .reset {
    background: rgb(0, 131, 129);
    box-shadow: 0 5px rgb(0, 83, 81);
}